@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 10%;
  background: rgb(243, 255, 175);
}

.main {
  flex: 1 1 auto;
}

.my-photo {
  width: 150px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.footer {
  flex: 0 1 10%;
  background: rgb(243, 255, 175);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 50px;
}