* {
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-color: whitesmoke;
}

.about {
    text-align: center;
}

.cv-information {
    align-self: center;
    width: 500px;
    background-color: white;
    border: solid black;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
}

.cv-information:hover {
    border: solid black;
    padding: 20;
    margin: 50;
    cursor: default;
    box-shadow: 0 0 10px black;
}

.my-photo {
    border-radius: 50%;
}
